<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Email Reset</title>
</head>
<body>
    <div class="container mt-5">
        {% if messages %}
                <div class="message-dialog" id="msg">
                  {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show {{ message.tags }}" role="alert">
                      <span class="icon"></span>
                      {{ message | safe }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
        <h1 class="display-4 text-primary">Enter email below.</h1>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-outline-info" >Reset email</button>
                </div>
            </form>
            <p>Go back to
            <a class="icon-link icon-link-hover" href="{% url 'login' %}">login<svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg></a></p>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- End of scripts -->
</body>
</html>